body,
html,
.content,
.logo {
  height: 100%;
}

body {
  margin: 0;
}

.logo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-left: 1%;
  width: 60%;
}

.logo-img {
  max-height: 35%;
  max-width: 100%;
}
